.budget-tag {
    font-size: 14px;
    background: #C94977;
    display: flex;
    padding: 4px 8px;
    color: white;
    font-weight: 600;
    margin: 0px 8px 0px 0px;
    border-radius: 6px;
}

.budget-tag-mobile {
    background: #C94977;
    border-radius: 16px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 32px;
    padding: 8px 16px;
    margin: 0px 8px 0px 0px;
}
