.estimated_budget {
    background: #E3E3E3;
    height: 24px;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 8px;
}

.estimated_budget-mobile {
    background: #E3E3E3;
    height: 48px;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    padding: 0 16px;
    font-size: 24px;
    border-radius: 16px;
}

.title-and-budget{
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.title-and-budget-mobile{
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.project-link-view {
    text-overflow: ellipsis;
    display: -webkit-box;
    text-decoration: inherit;
    font-weight: 700;
    color: #222222;
}

.date-project {
    padding: 0 16px;
    font-weight: 400;
    font-size: 12px;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
}

.date-project-mobile {
    padding: 0 32px;
    font-weight: 400;
    font-size: 24px;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
}

.description-modal {
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 8px;
    padding: 16px;
    background: #F1F1F1;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
}

.descriptionContainerReduced {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #F1F1F1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 14px;
    font-weight: 500;
}

.descriptionContainerMobile {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: #F1F1F1;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    font-size: 28px;
    font-weight: 500;
}

.descriptionContainerReduce {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 16px;
    font-weight: 500;
}

.seeMore {
    font-size: 12px;
    font-weight: 400;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.scrollDivProjects {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 100%;
    flex-direction: column;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.postulations-container {
    margin-top: 20px;
    padding-bottom: 20px;
}
