.container {
    min-height: 100vh;
    width: 100%;
}

.data-container {
    display: flex;;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 72px;
}

.title-style {
    font-size: 32px;
    width: 536px;
    font-weight: 400;
    color: #0F2830;
}

.pana-container {
    padding: 20px;
    height: 560px;
    width: 536px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pana-style {
    width: 90%;
}


.form-text {
    padding-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #014751;
    padding-left: 50px;
    padding-right: 50px;
}


.form-input {
    position: relative;
}


.label-last{
    font-size: 12px;
    color: #222222;
}

.button-style-disabled {
    width: 55%;
    border-width: 0;
    border-radius: 16px;
    height: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
    cursor: pointer;
}

.button-style-disabled-mobile {
    width: 100%;
    border-width: 0;
    border-radius: 20px;
    height: 120px;
    color: white;
    text-align: center;
    justify-content: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 32px;
    cursor: pointer;
}

.container-button-login {
    color: #014751;
    padding: 16px 0;
    font-size: 12px;
    align-items: center;
}

.container-button-login-mobile {
    color: #014751;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    align-items: center;
}

.login {
    text-decoration: inherit;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 12px;
    color: #014751;
}

.forgot {
    align-items: center;
    text-decoration: inherit;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 12px;
    color: #014751;
}

.forgot-mobile {
    text-align: center;
    padding: 8px;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 32px;
    color: #014751;
}

.forgot-container {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-user-not-found {
    font-family: "Inter", sans-serif;
    padding-top: 10px;
    text-align: center;
    height: 80px;
    color: rgb(205, 91, 69);
    font-size: 14px;
    font-weight: bold;
}
