.pref-tag {
    font-size: 12px;
    background: #089BAD;
    display: flex;
    padding: 4px 8px;
    color: white;
    font-weight: 600;
    margin: 4px 4px;
    width: max-content;
    border-radius: 6px;
}

.pref-tag-mobile {
    background: #089BAD;
    border-radius: 16px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 32px;
    padding: 8px 16px;
    width: max-content;
    margin: 4px 4px;
}
