.experience-empty-container {
    margin-bottom: 16px;
    position: relative;
    min-height: 60px;
    background: #F1F1F1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
    justify-content: space-between;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.experience-empty-title {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
}

.icon-button {
    cursor: pointer;
}

.experience-empty-title-reduce {
    display: flex;
    font-size: 14px;
    width: 80%;
    align-items: center;
    font-weight: 700;
    color: #014751;
}

.experience-empty-title-mobile {
    padding: 0 20px;
    display: flex;
    width: 30%;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #014751;
}

.education-data-info {
    padding: 8px 0px;
    font-weight: 700;
    color: #222222;
}
