.experience-empty-container {
    margin-bottom: 16px;
    position: relative;
    background: #F1F1F1;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.experience-empty-info-container {
    position: relative;
    margin: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
    justify-content: space-between;
}

.experience-empty-info-container-reduce {
    position: relative;
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
    justify-content: space-between;
}


.experience-empty-container-reduce {
    width: 48%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.experience-empty-title {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
}

.icon-button {
    cursor: pointer;
}

.experience-empty-title-reduce {
    display: flex;
    font-size: 14px;
    width: 80%;
    align-items: center;
    font-weight: 700;
    color: #014751;
}

.experience-empty-title-mobile {
    padding: 0 20px;
    display: flex;
    width: 30%;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #014751;
}

.education-data-info {
    padding: 8px 0px;
    font-weight: 700;
    color: #222222;
}
