.recommendations-container {
    background: #CD5B45;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    overflow-y: hidden;
    overflow-x: auto;
}

.recommendations-title {
    background: #089BAD;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    border-radius: 16px;
    height: 100px;
    font-weight: 700;
    color: #FAFAFA;
}
