.platform-tag {
    font-size: 12px;
    background: #a23c79;
    display: flex;
    padding: 4px 8px;
    color: white;
    font-weight: 600;
    margin-right: 8px;
    border-radius: 6px;
}

.platform-tag-mobile {
    background: #a23c79;
    border-radius: 16px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 32px;
    padding: 8px 16px;
    margin: 0px 8px 0px 0px;
}
