.container-logo {
    display: flex;
    align-items: center;
    color: #0F2830;
}

.container-logo-mobile {
    display: flex;
    align-items: center;
    color: #0F2830;
    font-size: 36px;
}

.logo {
    width: 56px;
    padding-right: 5px;
}

.logo-mobile {
    width: 100px;
    padding-right: 5px;
}
