.create-project-info {
    font-size: 18px;
    margin: 40px;
    height: 120px;
}
.create-project-info-container {
    align-items: center;
    width: 49.5%;
    background: #F1F1F1;
    height: 420px;
    border-radius: 10px;
}
.create-project-form{
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0px;
    flex-direction: column;
    display: flex;
    width: 100%;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}
.create-project-input {
    font-family: "Inter", sans-serif;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.create-project-label {
    width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #222222;
}
.select {
    appearance: none;
    font-family: "Inter", sans-serif;
    width: 108%;
    border-radius: 20px;
    border-color: #E3E3E3;
    border-width: 0px;
    outline: none;
    height: 43px;
    background: #E3E3E3;
    font-size: 16px;
    padding: 0px 8px 0px 8px;
}
.from-button {
    position: absolute;
    right: 0;
}
.information-container {
    flex-direction: column;
    display: flex;
    background: #F1F1F1;
    height: 600px;
    border-radius: 10px;
}
.information-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 40px;
    height: 520px;
}
textarea {
    border-radius: 10px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    font-family: "Inter", sans-serif;
    height: 100px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;

}
.text-area-label {
    align-self: center;
    width: 60%;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    color: #222222;
}
.create-project-buttons {
    display: flex;
    padding: 20px 0px;
    justify-content: flex-end;
    align-items: center;
}
.create-project-from-button {
    margin-left: 10px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #014751;
    font-size: 16px;
}
.cancel-project-button {
    margin-right: 10px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #CD5B45;
    font-size: 16px;
}
