.create-project-info {
    font-size: 18px;
    margin: 40px;
}

.create-project-info-reduced {
    padding: 20px;
    font-size: 18px;
    margin-top: 16px;
}

.create-project-info-container {
    align-items: center;
    width: 49.5%;
    background: #F1F1F1;
    border-radius: 16px;
}

.create-project-info-container-mobile {
    align-items: center;
    margin-top: 32px;
    width: 100%;
    background: #F1F1F1;
    border-radius: 32px;
}

.create-project-info-container-reduced {
    align-items: center;
    width: 100%;
    background: #F1F1F1;
    border-radius: 16px;
}

.create-project-form {
    font-weight: 400;
    padding: 20px 0px;
    flex-direction: column;
    display: flex;
    width: 100%;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.create-project-input {
    font-family: "Inter", sans-serif;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 8px;
}

.create-project-label {
    width: 70%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #222222;
}

.create-project-label-error {
    width: 70%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #CD5B45;
}

.modal-label-options {
    width: 90%;
    padding-bottom: 20px;
    font-size: 24px;
    color: #222222;
}

.add-skill-label {
    width: 95%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #222222;
}

.create-project-label-reduced {
    width: 80%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #222222;
}

.create-project-label-reduced-error {
    width: 80%;
    padding-bottom: 20px;
    font-size: 12px;
    color: #CD5B45;
}

.create-project-label-mobile {
    width: 90%;
    padding-bottom: 32px;
    font-size: 32px;
    color: #222222;
}

.create-project-label-mobile-error {
    width: 90%;
    padding-bottom: 32px;
    font-size: 32px;
    color: #CD5B45;
}

.select {
    appearance: none;
    font-family: "Inter", sans-serif;
    width: 100%;
    border-radius: 32px;
    border-color: #E3E3E3;
    border-width: 0px;
    outline: none;
    height: 43px;
    background: #E3E3E3;
    font-size: 16px;
    padding: 0px 8px 0px 8px;
    color: #222222;
}

.selectMobile {
    appearance: none;
    font-family: "Inter", sans-serif;
    width: 100%;
    border-radius: 32px;
    border-color: #E3E3E3;
    border-width: 0px;
    outline: none;
    height: 120px;
    background: #E3E3E3;
    font-size: 24px;
    padding: 0px 8px;
    color: #222222;
}

.from-button {
    background: #E3E3E3;
    position: absolute;
    right: 8px;
}

.from-button-mobile {
    background: #E3E3E3;
    position: absolute;
    right: 16px;
}

.information-container {
    flex-direction: column;
    display: flex;
    margin-top: 16px;
    background: #F1F1F1;
    border-radius: 16px;
}

.information-container-mobile {
    flex-direction: column;
    display: flex;
    margin-top: 32px;
    background: #F1F1F1;
    border-radius: 32px;
}

.information-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 16px 32px;
}

.req-information-form {
    display: flex;
    font-size: 18px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 16px 32px;
}

.textarea-style {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 100px;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.textarea-style-error {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid #CD5B45;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 100px;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.textarea-style-mobile {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    height: 240px;
    outline: none;
    font-size: 32px;
    padding: 16px;
}

.textarea-style-mobile-error {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: 1px solid #CD5B45;
    background: #E3E3E3;
    resize: none;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    height: 240px;
    outline: none;
    font-size: 32px;
    padding: 16px;
}

.textarea-style-modal {
    border-radius: 16px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 100px;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.text-area-style-mobile {
    border-radius: 32px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 400px;
    outline: none;
    font-size: 40px;
    padding: 16px;
    width: calc(100% - 32px);
}

.reqTextAreaStyle {
    border-radius: 16px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 100px;
    outline: none;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
}

.reqTextAreaMobileStyle {
    border-radius: 32px;
    border-color: #E3E3E3;
    border-width: 0;
    background: #E3E3E3;
    resize: none;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    height: 240px;
    outline: none;
    font-size: 32px;
    padding: 16px;
    margin-bottom: 32px;
}

.text-area-label {
    align-self: center;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #222222;
}

.text-area-label-error {
    align-self: center;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #CD5B45;
}


.text-area-label-mobile {
    align-self: center;
    width: 90%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #222222;
    font-size: 32px;
}

.text-area-label-mobile-error {
    align-self: center;
    width: 90%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #CD5B45;
    font-size: 32px;
}

.files-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FAFAFA;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #014751;
    height: 20px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
}
.files-upload-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FAFAFA;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    background: #014751;
    height: 60px;
    font-size: 32px;
    align-self: center;
    width: calc(90% - 32px);
    padding: 16px;
    margin-bottom: 32px;
}

.create-project-buttons {
    display: flex;
    padding: 20px 0px;
    justify-content: flex-end;
    align-items: center;
}

.create-project-from-button {
    margin-left: 10px;
    width: 48%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #014751;
    font-size: 16px;
    cursor: pointer;
}

.filter-button {
    margin-left: 10px;
    width: 48%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #014751;
    font-size: 16px;
    cursor: pointer;
}

.filter-button-mobile {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #014751;
    font-size: 16px;
    cursor: pointer;
}

.filter-button-reduced {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: #014751;
    font-size: 16px;
    cursor: pointer;
}

.create-project-from-button-disabled {
    margin-left: 10px;
    width: 48%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.filter-button-disabled {
    margin-left: 10px;
    width: 48%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.filter-button-disabled-mobile {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.filter-button-disabled-reduced {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    text-decoration: inherit;
    border-width: 0;
    color: white;
    text-align: center;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.input-image {
    position: relative;
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

.input-image-mobile {
    position: relative;
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 160px;
    width: 160px;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
}

.input-image-container {
    position: relative;
    height: 80px;
    width: 80px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #FAFAFA;
    font-size: 12px;
    background: rgba(1, 71, 81);
}

.input-image-container-mobile {
    position: relative;
    height: 160px;
    width: 160px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: #FAFAFA;
    font-size: 24px;
    background: rgba(1, 71, 81);
}


.input-image-trash {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #CD5B45;
    border-radius: 100%;
    padding: 4px;
    cursor: pointer;
}

.input-image-trash-mobile {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #CD5B45;
    border-radius: 100%;
    padding: 16px;
    cursor: pointer;
}

.input-files {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.input-files-mobile {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: flex-start;
    justify-content: center;
}

.input-files-mobile-div {
    display: flex;
    margin-top: 8px;
    align-items: flex-start;
    justify-content: center;
}

.input-files-div {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.icon-input-images {
    cursor: pointer;
    padding-right: 8px;
}

.icon-input-images-full {
    cursor: no-drop;
    padding-right: 8px;
}

.input-docs {
    width: 80px;
    align-self: center;
    border-radius: 4px;
}
