.publicationAllTileInformation{
    width: calc(100% - 32px);
    padding: 0 16px 16px 16px;
    cursor: pointer;
}

.publicationAllTileInformationMobile{
    width: calc(100% - 64px);
    padding: 0 32px 32px 32px;
    font-size: 48px;
    cursor: pointer;
}

.publicationTileTeamInformationCover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
    font-size: 18px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    padding: 16px;
    border-radius: 16px;
    background-image: linear-gradient(122.17deg, #005299 0%, #014751 100%);
}

.publicationTileTeamInformationCoverMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 64px);
    padding: 32px;
    font-size: 40px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    border-radius: 32px;
    background-image: linear-gradient(122.17deg, #005299 0%, #014751 100%);
}

.publicationTileArticleInformationCover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
    font-size: 18px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    padding: 16px;
    border-radius: 16px;
    background-image: linear-gradient(122.17deg, #8d2244 0%, #014751 100%);
}

.publicationTileArticleInformationCoverMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 64px);
    padding: 32px;
    font-size: 40px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    border-radius: 32px;
    background-image: linear-gradient(122.17deg, #8d2244 0%, #014751 100%);
}

.publicationTileProjectInformationCover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
    font-size: 18px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    padding: 16px;
    border-radius: 16px;
    background-image: linear-gradient(122.17deg, #605890 0%, #014751 100%);
}

.publicationTileProjectInformationCoverMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 64px);
    padding: 32px;
    font-size: 40px;
    line-height: 170%;
    font-weight: 200;
    color: #FAFAFA;
    border-radius: 32px;
    background-image: linear-gradient(122.17deg, #605890 0%, #014751 100%);
}

.tileIcon {
    width: 60px;
}
