.search-member-input {
    font-family: "Inter", sans-serif;
    width: 80%;
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.search-icon {
    position: absolute;
    left: 0;
    padding: 12px;
}

.memberDiv {
    overflow-x: hidden;
    overflow-y: auto;
    height: 480px;
    width: 100%;
    flex-direction: column;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.button-members-right-selected {
    width: 30%;
    border-width: 0;
    color: white;
    background: #2E9999FF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 28px;
}

.button-members-right {
    width: 30%;
    color: #222222;
    border-width: 0;
    background: #E3E3E3;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 28px;
}

.button-members {
    border-width: 0;
    color: #222222;
    margin: 0 8px;
    background: #E3E3E3;
    border-radius: 8px;
    height: 28px;
    cursor: pointer;
}

.button-members-selected {
    margin: 0 8px;
    border-width: 0;
    background: #2E9999FF;
    color: white;
    border-radius: 8px;
    height: 28px;
    cursor: pointer;
}


.buttons-filter {
    font-family: "Inter", sans-serif;
    width: 80%;
    margin: 16px 0px;
    padding: 0px 10%;
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
}
