.profile-screen {
    height: 100vh;
}

.user-cover-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-image: linear-gradient(268.12deg, rgba(15, 40, 48, 0) 0%, rgba(15, 40, 48, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page {
    position: relative;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.user {
    height: 100px;
    width: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid rgb(46, 153, 153);
}

.user-svg {
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid rgb(46, 153, 153);
    background: #0F2830;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.user-data-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.name {
    font-weight: bold;
    font-size: 28px;
}

.extra-data {
    font-weight: 200;
    font-size: 14px;
}

.user-data {
    padding: 0px 40px 0px 40px;
    display: flex;
    align-items: center;
}

.user-info-container {
    margin-bottom: 16px;
    position: relative;
    background: #F1F1F1;
    height: 208px;
    border-radius: 10px;
}

.profile-data-container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.user-info {
    margin: 32px;
}

.add-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.data-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #014751;
}

.data-info {
    margin: 20px 40px 0px 40px;
    height: 80px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: #222222;
}

.icon {
    padding-right: 8px;
}

.rank {
    margin: 8px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 560px;
    background: #F1F1F1;
    align-items: center;
    justify-content: space-between;
}

.modal-form {
    flex-direction: column;
    width: 60%;
    font-size: 12px;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.modal-form-input {
    font-family: "Inter", sans-serif;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 4px;
}

.modal-form-input-with-tags {
    font-family: "Inter", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.container-button-modal {
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: #014751;
    font-size: 12px;
    align-items: center;
    align-self: center;
    padding-bottom: 20px;
}

.modal-button-style {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    color: white;
    border: 0;
    background: #014751;
    font-size: 16px;
}

.modal-button-style-disabled {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    color: white;
    border: 0;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.modal-tag {
    display: flex;
    padding: 2px 8px 2px 8px;
    color: #222222;
    font-weight: 200;
    margin: 0px 8px 0px 0px;
    background: #D1D1D1;
    border-radius: 6px;
}

.modal-tags-container {
    width: 100%;
    padding: 10px 0 0 0px;
    display: flex;
    align-items: flex-start;
}

.team-link {
    text-decoration: inherit;
    font-weight: 700;
    color: #222222;
}

.scrollDiv {
    overflow-x: hidden;
    overflow-y: auto;
    height: 520px;
    width: 100%;
    flex-direction: column;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.team-data-info {
    padding: 8px 0px;
    font-weight: 700;
    color: #222222;
}

.view-more {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-team-view {
    padding: 8px 40px 0px 40px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.team-link-teams-view {
    text-overflow: ellipsis;
    display: -webkit-box;
    padding: 0px 40px 0px 40px;
    text-decoration: inherit;
    font-weight: 700;
    color: #222222;
}

.tag {
    display: flex;
    padding: 2px 8px 2px 8px;
    margin: 0px 8px 8px 0px;
    color: #222222;
    font-size: 12px;
    font-weight: 200;
    background: #D1D1D1;
    border-radius: 6px;
}

.line {
    margin: 0px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tags-modal {
    margin: 8px 0px;
    display: flex;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    bottom: 16px;
    background: #FAFAFA;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.cancel-edit-button-style {
    width: 49%;
    border-radius: 10px;
    height: 40px;
    color: #014751;;
    border: 2px solid rgba(1, 71, 81, 0.5);
    background: #F1F1F1;
    font-size: 16px;
}

.save-edit-button-style {
    width: 49%;
    border-radius: 10px;
    height: 40px;
    color: white;
    border: 0;
    background: #014751;
    font-size: 16px;
}

.save-edit-button-style-disabled {
    width: 49%;
    border-radius: 10px;
    height: 40px;
    color: white;
    border: 0;
    background: rgba(1, 71, 81, 0.5);
    font-size: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 49.5%;
}

.tags-project {
    margin: 8px;
    display: flex;
}
