.projects-screen {
    padding-top: 70px;
    padding-bottom: 80px;
}

.create-projects-header {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.projects-header {
    margin-top: 32px;
    background: linear-gradient(105.23deg, #0F2830 0%, #014751 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.projects-cover {
    margin: 80px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #FAFAFA;
}

.projects-cover-reduced {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FAFAFA;
}

.projects-cover-title {
    font-size: 32px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    color: #FAFAFA;
}
.projects-cover-title-reduced {
    font-size: 24px;
    margin-bottom: 32px;
    font-weight: 200;
    text-align: center;
    color: #FAFAFA;
}

.create-project-button {
    padding: 00px 8px;
    cursor: pointer;
}

.projects-container {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 64px;
}

.project-card-container {
    flex-direction: column;
    display: flex;
    margin: 20px 0px;
    background: #F1F1F1;
    height: 208px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-card-container:first-child {
    margin-top: 0px;
}

.project-card {
    font-size: 18px;
    margin: 32px;
}

.project-tech-info {
    padding: 10px 00px 0px 0px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.project-info {
    padding: 16px 00px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titles {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    padding: 00px 08px;
}

.titles .creator {
    display: flex;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    padding: 00px 08px;
}

.most-popular-card-container {
    width: 49.5%;
    color: #FAFAFA;
    background: #014751;
    height: 420px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.popular-card {
    margin: 40px;
    height: 340px;
}

.projects-card-container {
    width: 100%;
}

.projects-description-container {
    width: 100%;
    margin-top: 16px;
}

.projects-cards {
    margin-top: 8px;
    justify-content: space-between;
    display: flex;
}

.projects-cards-reduced {
    margin-top: 8px;
}

.createProjectButtonCover {
    min-width: 200px;
    margin-top: 32px;
    background: rgba(250, 250, 250, 0.2);
    border: 1px solid #FAFAFA;
    height: 60px;
    display: flex;
    padding: 0 16px;
    font-size: 16px;
    align-items: center;
    color: #FAFAFA;
    justify-content: center;
    border-radius: 16px;
    width: available;
    cursor: pointer;
}

.carrousel-buttons {
    padding: 8px 16px;
    cursor: pointer;
}

div.shake{
    font-family: "Inter", sans-serif;
    animation: shake 1s infinite;
    font-size: 32px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    color: #FAFAFA;
}

@keyframes shake {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
