.navbar {
    margin-left: 36px;
    width: 70px;
    border-radius: 16px;
    height: calc(100% - 72px);
    background: #0F2830;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar:hover {
    width: 160px;
    padding: 0 16px;
}

.navbar:hover .navbar-icon{
    font-size: 16px;
    width: 100%;
    text-align: right;
    color: #FAFAFA;
    cursor: pointer;
}

.navbar-icon {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.settings{
    cursor: pointer;
    width: 40px;
}

.navbar:hover .settings{
    padding-right: 16px;
}

.navbar:hover .logo-side {
    padding-right: 16px;
}

.navbar-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    align-self: center;
    min-height: 540px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar-mobile {
    z-index: 1;
    background: #0F2830;
    width: 100%;
    margin: 32px;
    border-radius: 48px;
    height: 184px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    align-items: center;
}

.navbar-web {
    background: #0F2830;
    width: 100%;
    margin: 16px;
    border-radius: 16px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    align-items: center;
}

.navbar-web-container-reduce {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-mobile-container {
    position: fixed;
    left: 0;
    bottom: 32px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-mobile-icon {
   display: flex;
    color: #FAFAFA;
    width: 20%;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.navbar-web-icon {
    display: flex;
    color: #FAFAFA;
    width: 20%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}

.logo-side {
    width: 48px;
}

.user-container-sidebar {
    bottom: 48px;
    height: 48px;
    width: 58px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(46, 153, 153, 1);
}

.user-sidebar {
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid rgb(46, 153, 153);
}

.user-mobile-image {
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid rgb(46, 153, 153);
}

.user-sidebar-mobile {
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid rgb(46, 153, 153);
}

.user-sidebar-web {
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid rgb(46, 153, 153);
}

.settings-mobile{
    cursor: pointer;
    position: relative;
}

.notification-numbers {
    line-height: 20px;
    text-align: center;
    right: 40px;
    color: #F1F1F1;
    font-size: 12px;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: #CD5B45;
}

.notification-numbers-mobile {
    position: absolute;
    margin-left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #CD5B45;
}

.notification-list li{
    font-size: 16px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.notification-list-data{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.notification-list-data-message{
    width: 80%;
}

.notification-list li:last-child{
    border-bottom: none;
}

.notification-list-reduced li{
    font-size: 16px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.notification-list-reduced li:last-child{
    border-bottom: none;
}

.notifications{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    font-weight: 700;
    color: #222222;
    height: calc(100% - 72px);
    margin: 0 16px;
    backdrop-filter: blur(120px);
    align-self: center;
    background: rgba(1, 71, 81, 0.1);
    width: 340px;
}

.notifications-reduce{
    font-size: 24px;
    border-radius: 16px;
    font-weight: 700;
    color: #222222;
    height: 83%;
    margin: 36px 16px;
    backdrop-filter: blur(120px);
    background: rgba(1, 71, 81, 0.1);
    width: 340px;
}

.notifications-container{
    position: fixed;
    left: 106px;
    top: 0;
    height: 100%;
    min-height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.notifications-container-reduce{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.notifications:hover{
    cursor: pointer;
}

.notification-title{
    padding: 24px 24px;
    cursor: default;
}

.notification-list{
    padding: 0 16px;
    margin-bottom: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    align-self: center;
    height: 92%;
}

.notification-list-reduced{
    padding: 0 16px;
    margin-bottom: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    align-self: center;
    height: 85%;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 70%;
}
.without{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 90%;
    font-size: 16px;
    font-weight: 400;
}

.date {
    font-size: 12px;
    height: 0px;
    padding-bottom: 20px;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
}

.all-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.logout{
    position: absolute;
    bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.logout-info{
    color: white;
    border-radius: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    font-weight: 400;
    font-size: 16px;
    background: #CD5B45;
}

.logout-icon{
    padding-right: 10px;
    cursor: pointer;
}

.user-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #0F2830;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid rgb(46, 153, 153);
}
