.container {
    min-height: 100vh;
    justify-items: flex-start;
    align-items: center;
}

.container-login {
    display: flex;;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.form-container {
    border-radius: 10px;
    box-shadow: 0px 4px 10px #D1D1D1;
    min-height: 560px;
    min-width: 536px;
    max-width: 536px;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-style {
    font-size: 30px;
    width: 536px;
    font-weight: 400;
    color: #0F2830;
}

.pana-container {
    padding: 20px;
    height: 560px;
    width: 536px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pana-style {
    width: 90%;
}

.input {
    font-family: "Inter", sans-serif;
    width: 100%;
    border-radius: 20px;
    border-color: #E3E3E3;
    border-width: 0px;
    outline: none;
    height: 40px;
    color: #222222;
    background: #E3E3E3;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-text {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #014751;
    padding-left: 50px;
    padding-right: 50px;
}

.form {
    width: 50%;
    font-size: 12px;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.password-button {
    position: absolute;
    right: 0;
    padding: 12px;
}

.label {
    font-size: 12px;
    color: #222222;
    padding-bottom: 20px;
}

.button-style {
    width: 55%;
    border-radius: 10px;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    height: 40px;
    color: white;
    border: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #014751;
    font-size: 16px;
    cursor: pointer;
}

.loading-style {
    width: 55%;
    border-radius: 10px;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    height: 40px;
    color: white;
    border: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #D1D1D1;
    font-size: 16px;
}

.button-container {
    border: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.login{
    font-weight: bold;
    font-size: 12px;
    border-width: 0px;
    color: #014751;
}

.login-message-error {
    height: 80px;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding-top: 10px;
    color: rgb(205, 91, 69);
    font-size: 14px;
    font-weight: bold;
}

.login-message-error-list {
    height: 80px;
    font-family: "Inter", sans-serif;
    color: rgb(205, 91, 69);
    font-size: 14px;
    font-weight: bold;
}


.verify-message {
    width: 70%;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    color: #014751;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.verify-text {
    min-height: 350px;
    max-height: 350px;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
