.App {
  font-family: "Inter", sans-serif;
  background: #FAFAFA;
  color: #222222;
  min-height: 540px;
  min-width: 960px;
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
}

.App-mobile {
  font-family: "Inter", sans-serif;
  margin: 8px 16px;
  padding-bottom: 16%;
  padding-top: 10%;
  background: #FAFAFA;
  color: #222222;
}
