.postulations-buttons {
    padding: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postulation-view-modal {
    width: 100%;
    background: #F1F1F1;
    border-radius: 16px;
    font-size: 12px;
    color: #222222;
    align-items: center;
    justify-content: space-around;
}

.postulation-team-view {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.postulation-team-view-reduce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.postulation-team-view-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    font-size: 32px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.team-postulation-info {
    width: 30%;
}

.team-postulation-info-reduce {
    width: 100%;
}

.team-postulation-name {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
}

.team-postulation-name-mobile {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
}

.team-postulation-star {
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-postulation-star-mobile {
    padding: 0 16px;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-postulation-data {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 500;
}

.team-postulation-data-mobile {
    padding-top: 16px;
    font-size: 36px;
    font-weight: 500;
}

.team-postulation-budget-reduce{
    display: flex;
    width: 100%;
    padding: 8px 0;
    font-size: 24px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-postulation-budget-mobile{
    display: flex;
    width: 100%;
    padding: 8px 0;
    font-size: 40px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-postulation-budget{
    padding: 8px 0;
    display: flex;
    font-size: 24px;
    font-weight: 300;
}

.team-postulation-description {
    font-size: 16px;
    font-weight: 700;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-postulation-description-data {
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    padding: 4px 16px;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #E3E3E3;
}

.photo-postulations {
    background: #0F2830;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    color: #FAFAFA;
    border: 2px solid rgb(46, 153, 153);
}
.usd {
    background: #E3E3E3;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 8px;
}

.usd-mobile {
    background: #E3E3E3;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    padding: 0 8px;
    font-size: 24px;
    border-radius: 8px;
}

.postulations-buttons-container {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.postulations-buttons-mobile-container {
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
}

.postulations-buttons-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

.loading-button {
    margin: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(1, 71, 81, 0.5);
    color: white;
}
.loading-mobile-button {
    margin: 4px;
    height: 108px;
    width: 108px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(1, 71, 81, 0.5);
    color: white;
}

.loading-button-mobile {
    margin: 4px;
    height: 122px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(1, 71, 81, 0.5);
    color: white;
}

.loading-button-reject {
    margin: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(205, 91, 69, 0.5);
    color: white;
}

.loading-button-mobile-reject {
    margin: 4px;
    height: 108px;
    width: 108px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(205, 91, 69, 0.5);
    color: white;
}

.loading-button-reject-mobile {
    margin: 4px;
    height: 122px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(205, 91, 69, 0.5);
    color: white;
}
